/*.card {
	display: inline-block;
	border: 1px solid black;
	font-size: 10px;
	padding: 5px;
	width: 40px;
}*/
.card {
  display: flex;
  flex-basis: 25%;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  border: 1px solid black; 

}

.card svg {
  height: 70px;
  width: auto;
  margin: auto; 
  transform: rotate(90deg);
}

.selected {
  background: lavender;
}

.green svg {
  fill: green; }

.purple svg {
  fill: #970ede; }

.red svg {
  fill: red; }
