.game {
	padding: 40px;
}

h1 {
	margin: 15px 0;
}

.buttonWrapper {
	margin: 15px 0;
}

button {
	padding: 5px;
	margin: 5px;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	background-color: green;
	color: white;
}

button:disabled {
	background: gray;
	color: black;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.gameInfo {
	padding-right: 20px;
}