.game {
	width: 80%;
	margin: 0 auto;
}

button {
	padding: 5px;
	margin: 5px;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	background-color: green;
	color: white;
}

button:disabled {
	background: gray;
	color: black;
}