.setList {
  border: 1px solid purple;
  margin-top: 25px;
  padding: 10px;
}


.sets {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.setGroup {
	display: flex;
	flex-flow: row wrap;
	margin: 20px;
	justify-content: space-between;
}

.setList .card {
	height: 54px;
	width: 100px;
}

.setList .card svg {
	height: 29px;
}
